In [1]:
# Step 1: Import your libraries
import pandas as pd

## Extract datat from website (Worldometer)

In [2]:
url = "https://www.worldometers.info/world-population/nigeria-population/"

In [4]:
table1 = pd.read_html(url)[1]
table1.head() #To show the top five rows

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Nigeria Global Rank
0,2024,229152217,2.39 %,5347585,-59996,17.4,4.99,252,54.7 %,125447884,2.82 %,8118835999,6
1,2023,223804632,2.41 %,5263420,-59996,17.2,5.06,246,53.9 %,120696717,2.78 %,8045311447,6
2,2022,218541212,2.41 %,5139889,-59996,17.1,5.14,240,53.1 %,116057853,2.74 %,7975105156,6
3,2020,208327405,2.47 %,5022913,-4824,16.9,5.31,229,51.4 %,107112526,2.66 %,7840952880,7
4,2015,183995785,2.71 %,4608586,-145917,16.7,5.62,202,47.1 %,86673094,2.48 %,7426597537,7

In [7]:
table2 = pd.read_html(url)[2]
table2.head() #To show the top five rows

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Nigeria Global Rank
0,2025,234573603,2.40 %,5249240,-59996.0,17.5,4.90,258,55.6 %,130312056,2.86 %,8191988453,6
1,2030,262580426,2.28 %,5601365,-59996.0,18.3,4.45,288,59.5 %,156299881,3.07 %,8546141327,6
2,2035,291591598,2.12 %,5802234,-59996.0,19.1,4.00,320,63.4 %,184887647,3.28 %,8879397401,6
3,2040,320779660,1.93 %,5837612,-59996.0,20.1,3.61,352,67.4 %,216083536,3.49 %,9188250492,5
4,2045,349603702,1.74 %,5764808,-59996.0,21.2,3.26,384,71.6 %,250285391,3.69 %,9467543575,4

In [8]:
table3 = pd.read_html(url)[3]
table3.head() #To show the top five rows

   #      CITY NAME  POPULATION
0  1          Lagos     9000000
1  2           Kano     3626068
2  3         Ibadan     3565108
3  4         Kaduna     1582102
4  5  Port Harcourt     1148665

## Transform the headers

In [9]:
table1.columns

Index(['Year', 'Population', 'Yearly % Change', 'Yearly  Change',
       'Migrants (net)', 'Median Age', 'Fertility Rate', 'Density (P/Km²)',
       'Urban  Pop %', 'Urban Population', 'Country's Share of  World Pop',
       'World Population', 'Nigeria Global Rank'],
      dtype='object')

In [10]:
# Eliminate all the spaces in the column headers

table1.columns = ['Year', 'Population', 'Yearly%Change', 'YearlyChange',
       'Migrants(net)', 'MedianAge', 'FertilityRate', 'Density(P/Km²)',
       'UrbanPop%', 'UrbanPopulation', 'ShareofWorldPop',
       'WorldPopulation', 'NigeriaGlobalRank' 
]

table1.head()

,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,Density(P/Km²),UrbanPop%,UrbanPopulation,ShareofWorldPop,WorldPopulation,NigeriaGlobalRank
0,2023,223804632,2.41 %,5263420,-59996,17.2,5.06,246,53.9 %,120696717,2.78 %,8045311447,6
1,2022,218541212,2.41 %,5139889,-59996,17.1,5.14,240,53.1 %,116057853,2.74 %,7975105156,6
2,2020,208327405,2.47 %,5022913,-4824,16.9,5.31,229,51.4 %,107112526,2.66 %,7840952880,7
3,2015,183995785,2.71 %,4608586,-145917,16.7,5.62,202,47.1 %,86673094,2.48 %,7426597537,7
4,2010,160952853,2.76 %,4092426,18073,16.7,5.98,177,42.8 %,68949828,2.30 %,6985603105,7

In [11]:
table2.columns

Index(['Year', 'Population', 'Yearly % Change', 'Yearly  Change',
       'Migrants (net)', 'Median Age', 'Fertility Rate', 'Density (P/Km²)',
       'Urban  Pop %', 'Urban Population', 'Country's Share of  World Pop',
       'World Population', 'Nigeria Global Rank'],
      dtype='object')

In [14]:
table2.columns = ['Year', 'Population', 'Yearly%Change', 'YearlyChange',
       'Migrants(net)', 'MedianAge', 'FertilityRate', 'Density(P/Km²)',
       'UrbanPop%', 'UrbanPopulation', 'ShareofWorldPop',
       'WorldPopulation', 'NigeriaGlobalRank'
]
                  

table2.head()

,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,Density(P/Km²),UrbanPop%,UrbanPopulation,ShareofWorldPop,WorldPopulation,NigeriaGlobalRank
0,2025,234573603,2.40 %,5249240,-59996.0,17.5,4.90,258,55.6 %,130312056,2.86 %,8191988453,6
1,2030,262580426,2.28 %,5601365,-59996.0,18.3,4.45,288,59.5 %,156299881,3.07 %,8546141327,6
2,2035,291591598,2.12 %,5802234,-59996.0,19.1,4.00,320,63.4 %,184887647,3.28 %,8879397401,6
3,2040,320779660,1.93 %,5837612,-59996.0,20.1,3.61,352,67.4 %,216083536,3.49 %,9188250492,5
4,2045,349603702,1.74 %,5764808,-59996.0,21.2,3.26,384,71.6 %,250285391,3.69 %,9467543575,4

In [15]:
table3.columns

Index(['#', 'CITY NAME', 'POPULATION'], dtype='object')

In [16]:
table3.columns = ['SerialNumber', 'CITYNAME', 'POPULATION']

table3.head()

   SerialNumber       CITYNAME  POPULATION
0             1          Lagos     9000000
1             2           Kano     3626068
2             3         Ibadan     3565108
3             4         Kaduna     1582102
4             5  Port Harcourt     1148665

## Load data into PostgreSQL Database

In [1]:
import psycopg2 # For connect to postgresql databases and executing queries
from sqlalchemy import create_engine # To efficiently manage and reuse database connections
import os

In [3]:
# Database Credentials
username = os.environ['USER']
password = os.environ['PASS']
host = 'localhost'
port = 5433
db_name = 'Naija_Population'

In [21]:
# Establish a connection
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db_name}')

In [23]:
dbt1 = 'pop_historical'
dbt2 = 'pop_forecast'
dbt3 = 'pop_city'

#Load data into database tables
table1.to_sql(dbt1, engine, if_exists='replace', index=False)
table2.to_sql(dbt2, engine, if_exists='replace', index=False)
table3.to_sql(dbt3, engine, if_exists='replace', index=False)

# Close connection
engine.dispose()